#page-home {
  #perks-table {
    .tr-level-separator {
      td {
        text-align: center;
        font-weight: bold;
      }
    }
    .th-summary {
      position: relative;
      .search-form {
        position: absolute;
        bottom: @table-condensed-cell-padding;
        right: @table-condensed-cell-padding;
        margin-bottom: 0;
        font-weight: normal;
        .search-input-icon {
          .custom-input-icon;
        }
      }
    }
    .td-stat {
      white-space: nowrap;
    }
    .td-name {
      .td-name-with-original-icon;
    }
  }
}
