<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed icon-navicon"
              data-toggle="collapse"
              data-target="#main-menu-navbar"
              aria-expanded="false">
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-menu-navbar">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}">
          <a href="/">Perks</a>
        </li>
        <li ng-class="{active: isActive('/traits')}">
          <a href="/traits">Traits</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search.name">
        </div>
      </form>
    </div>
  </div>
</nav>
